# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment files
.env

# Raw data (large files)
data/raw/*.csv

# Mongo volumes
mongo-data/

# Python
.venv/
__pycache__/
*.pyc

# Data
data/raw/*.csv

# OS
.DS_Store
Thumbs.db
